html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/provily and the kite bv/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css*/
body{
	background-image: url(template.jpg);
	background-repeat: no-repeat;
	background-size: 1400px 900px;
	margin: 2em 12em 2em 12em;
}
@font-face{
	font-family: 'Athena of the Ocean';
	src: url('fonts/Athena_of_the_Ocean.ttf');
	src: local(' ');
}
hgroup h1{
	font: 68px/72px Athena of the Ocean, "lucida Sans Unicode", "lucida Grande", sans-serif;
	background: url(logo.png);
	width: 175px;
	height: 50px;
	padding-top: 10px;
	border-radius: 20px 20px 0 0;
}
/*navbalk*/
img#logo{
	margin: 0 0 -53px 0;
	border-radius: 0 0 0 20px;
	border: 1px solid black;
}
ul{
	margin: 0 0 25px 0;
}
.nav ul {
  list-style: none;
  background-color: #22313f;
  text-align: center;
  border-radius: 0 20px 20px 20px;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
#Contact{
border-radius: 20px;
padding: 20px;
background-color: grey;
margin-top: 10px;
}

header{
color: white;
background-color: #3949AB;
border-radius: 10px;
margin-bottom: 10px;
padding: 10px;
}

@media only screen {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

.col-5 .ContactPlaatje{
background-image: url(Contact.jpg);
height: 330px;
width: 364px;
border-radius: 20px;
}

.Email{
	margin-top: 10px;
	margin-bottom: 10px;
}

#Contact1{
Border-radius: 20px;
padding: 20px;
background-color: grey;

}

.Anoekpfp{
	background-image: url(Anoek.jpg);
}

.Thomaspfp{
	background-image: url(Thomas.jpg);
}

.Timpfp{
	background-image: url(Tim2.jpg);
}